body{
  background-color: rgb(215,236,241);
  color: black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
}

.wrapper {
    max-width: 1440px;
    padding-left: 3em;
    padding-right: 3em;

}

.header{
    padding-bottom: 2em;
    display: block;
    height: auto;
    height: inherit;
    box-sizing: inherit;
    font-size: 1rem;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    clear: both;
}

.header h1,h4{
    text-align: center;

}

.page-header{
    padding-bottom: 2em;
    width: 60%;
    display: block;
    box-sizing: inherit;
    font-size: 1rem;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    clear: both;
    margin: 0rem;
}

.nav {
  
  }
  
  .nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-size: 0px;
  }
  
  .nav ul li {
    padding: 16px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 1px solid black;
    transition: background-color 0.2s;
  }
  
  .nav ul li:hover {

  }

  @media screen and (min-width: 700px) {
    .nav ul {
      text-align: right;
    }
    .nav ul li {
      display: inline-block;
      border-bottom: 0px;
      border-left: solid black 1px;
      text-align: left;
     }
  

.wrapper{
    margin-left: auto;
    margin-right: auto;
}

#about {
    text-align: center;
    margin: 3em;
}

.left-content{
    float:left;
    width: 50%;
    display: block;
    background-color: gray;
    box-sizing: inherit;
    background-color: #daecf3;
}

.right-sidebar{
    float: right;
    width: 30%;
    display: block;
    box-sizing: inherit;
    padding-left: 3em;
    background-color: #daecf3;

}
.search-bar{
    padding-right: 3em;
    padding-bottom: 3em;
    font-size: 0.875rem;
    line-height: 1.6;
}

.search-bar input[type=text] {
    align-self: auto;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}



footer{
    padding: 3em;
    clear: both;
    text-align: center;
}